{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JQuery Slide</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/slide_style.css' %}">
    <script src="{% static 'javascript/slide.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>JQuery Slider</h1>
        <div class="slider-outer">
            <button class="prev"><<<</button>  
        <div class="slider-inner">
          <img src="https://cdn.pixabay.com/photo/2021/10/13/15/09/water-6706894_960_720.jpg" class="active"> 
          <img src="https://cdn.pixabay.com/photo/2018/08/12/15/29/hintersee-3601004_960_720.jpg">  
          <img src="https://cdn.pixabay.com/photo/2021/11/21/21/14/mountain-6815304_960_720.jpg"> 
          <img src="https://cdn.pixabay.com/photo/2021/08/14/04/15/mountains-6544522_960_720.jpg">
        </div>
          <button class="next">>>></button>   
        </div>
        </div>
          
</body>
</html>